@using Automarket.Domain.Enum;
@using Automarket.Domain.Extensions

@{
    ViewData["Title"] = "Services";
}

<section>
    <section>
        <div class="pages_path services_path">
            <a class="home_icon" asp-controller="Home" asp-action="Index"></a>
            <a class="path_current_page inactive">@ViewData["Title"]</a>
        </div>
    </section>
    <div class="services_container">      
        <div>   
            <h2 class="services_title">Our Services</h2>
            <div class="service_row">
                <div class="service_item">
                <a class="service_link" asp-controller="Service" asp-action="EngineService">
                    <span class="service_name">
                            @ServiceType.Engine_Service.GetDisplayName().ToUpper()
                    </span>
                    <span class="arrow_container">
                        <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    </span>
                    <img class="services_img" src="~/img/engine_service.png" alt="Engine service" />
                </a>
            </div>

            <div class="service_item">
                    <a class="service_link" asp-controller="Service" asp-action="ClutchService">
                    <span class=" service_name">
                        @ServiceType.Clutch_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="service_img_big" src="~/img/clutch_service.png" alt="Clutch service" />
                </a>
            </div>
            <div class="service_item">
                <a class="service_link" asp-controller="Service" asp-action="ComputerService">
                    <span class=" service_name">
                        @ServiceType.Computer_Diagnostics_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="service_img_lower" src="~/img/computerdiagnostics_service.png" 
                        alt="Computer diagnostics service" />
                </a>
            </div>
            </div>
            <div class="service_row">
                <div class="service_item">
                <a class="service_link" asp-controller="Service" asp-action="ChassisService">
                    <span class=" service_name">
                        @ServiceType.Chassis_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="service_img_lower" src="~/img/chassis_service.png" alt="Chassis service" />
                </a>
            </div>
            <div class="service_item">
                <a class="service_link" asp-controller="Service" asp-action="TurbineService">
                    <span class=" service_name">
                        @ServiceType.Turbine_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="services_img" src="~/img/turbine_service.png" alt="Turbine service" />
                </a>
            </div>
            <div class="service_item">
                <a class="service_link" asp-controller="Service" asp-action="AlignmentService">
                    <span class=" service_name">
                        @ServiceType.Wheel_Alignment_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="service_img_lowest" src="~/img/wheelalignment_service.png" alt="Wheel alignment service" />
                </a>
            </div>
            </div>
            <div class="service_row">
                <div class="service_item">
                <a class="service_link" asp-controller="Service" asp-action="ElectricityService">
                    <span class=" service_name">
                        @ServiceType.Electricity_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="service_img_lower" src="~/img/electricity_service.png" alt="Electricity service" />
                </a>
            </div>
            <div class="service_item">
                <a class="service_link" asp-controller="Service" asp-action="RackService">
                    <span class=" service_name">
                        @ServiceType.Steering_Rack_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="service_img_lowest" src="~/img/steeringrack_service.png" alt="Steering rack service" />
                </a>
            </div>
            <div class="service_item">
                <a class="service_link" asp-controller="Car" asp-action="GetCars">
                    <span class=" service_name">
                        @ServiceType.Car_Shop_Service.GetDisplayName().ToUpper()
                    </span>
                    <ion-icon class="service_arrow" name="arrow-forward-outline"></ion-icon>
                    <img class="services_img" src="~/img/carshop_service.png" alt="Shop service" />
                </a>
            </div>
            </div>          
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>